## ESPERANZA DE VIDA DE EUROPA DEL ESTE Y ESPAÑA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

In [3]:
df = pd.read_csv('../../data/Data_Esperanza_de_Vida_H_M/311_ICV_indiv_23.csv')
df.head()

                              Unnamed: 1  Unnamed: 2
0 NaN  Instituto Nacional de Estadística         NaN
1 NaN     Indicadores de Calidad de Vida         NaN
2 NaN                 Dimensión 3. Salud         NaN
3 NaN                   3.1. Resultados          NaN
4 NaN                                NaN         NaN

In [5]:
df = pd.read_csv('../../data/Data_Esperanza_de_Vida_H_M/311_ICV_indiv_22.csv')
df.head()

                              Unnamed: 1  Unnamed: 2
0 NaN  Instituto Nacional de Estadística         NaN
1 NaN     Indicadores de Calidad de Vida         NaN
2 NaN                 Dimensión 3. Salud         NaN
3 NaN                   3.1. Resultados          NaN
4 NaN                                NaN         NaN